

.product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 450px;
    border: 20px solid black;
    padding: 20px;
    background-color: yellow;
    border-radius: 30%;
}

h1 {
    border-radius: 25%;
    z-index: 6;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: forestgreen;
    position: relative;
}

.product {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#pasteis {
    background-color: darkgoldenrod;
}

#ovos {
    background-color: coral;
}

#bras {
    background-color: darkolivegreen;
}

#gambas {
    background-color: darkmagenta;
}

#bg {
    opacity: 65%;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
}

#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }